<a href="https://colab.research.google.com/github/wilyouandaogo70/Demorepo/blob/main/Copy_of_Wily_Ouandaogo_3_1_NumPy_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

## 2.	Find country with maximum gold

In [ ]:
data = {'Gold': [29,38,24,46,13,7,11],'Silver': [17,28,25,28,8,14,11],'Bronze': [19,22,32,29,7,17,14]}

In [ ]:
df = pd.DataFrame(data, index=['GBR','China','RUS','US','KOR','JPN','GER'])
print(df)

       Gold  Silver  Bronze
GBR      29      17      19
China    38      28      22
RUS      24      25      32
US       46      28      29
KOR      13       8       7
JPN       7      14      17
GER      11      11      14

In [ ]:
country_with_maximum_gold = df['Gold'].idxmax()

In [ ]:
print("country with maximum gold: ",country_with_maximum_gold)

country with maximum gold:  US

## 3.	Find countries with more than 20 gold medals

In [ ]:
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])

In [ ]:
countries_with_more_than_20_gold_medals = np_olympic_country_Gold > 20

In [ ]:
countries_with_more_than_20_gold_medals

array([ True,  True,  True,  True, False, False, False])