<a href="https://colab.research.google.com/github/wilyouandaogo70/Demorepo/blob/main/wily_Ouandaogo_3_3_Data_Wrangling_ClassNotes_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3-3 Data wrangling with Pandas

In [1]:
#import pandas and numpy
import pandas as pd
import numpy as np

In [2]:
#load data
book_df =pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/BL-Flickr-Images-Book.csv')

In [3]:
#find number of rows and columns
book_df.shape

(8287, 15)

In [4]:
#summary of statistics by column

book_df.describe()

         Identifier  Corporate Author  Corporate Contributors  Engraver
count  8.287000e+03               0.0                     0.0       0.0
mean   2.017344e+06               NaN                     NaN       NaN
std    1.190379e+06               NaN                     NaN       NaN
min    2.060000e+02               NaN                     NaN       NaN
25%    9.157875e+05               NaN                     NaN       NaN
50%    2.043707e+06               NaN                     NaN       NaN
75%    3.047430e+06               NaN                     NaN       NaN
max    4.160339e+06               NaN                     NaN       NaN

In [5]:
#view first few rows
book_df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [6]:
#list columns by name
book_df.columns

Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

Data Background Information

After exploring dataset we found that there are 8K+ data points and 12 features. Once I looked at the features I could not find anything significant with below columns. So, I decided to get rid of those columns to trim down the scope of my data analysis work.

In [7]:
#make a list of columns we no longer want to work with
columns_to_be_dropped = ['Edition Statement','Corporate Author', 'Corporate Contributors', 'Former owner','Engraver']

In [8]:
#what data type is this
type(columns_to_be_dropped)

list

In [9]:
#make a new dataframe without those columns
new_book_df = book_df.drop(columns_to_be_dropped, axis=1)

In [10]:
new_book_df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 10 columns]

I recognized 'Identifier' as an unique key using which any book can be uniquely idetified. So, I chose to make it an index for my new data subset

In [14]:
new_book_df['Identifier'].is_unique

True

In [16]:
book_reindexed_df = new_book_df.set_index('Identifier')

In [17]:
book_reindexed_df.head()

                Place of Publication  ...                           Shelfmarks
Identifier                            ...
206                           London  ...    British Library HMNTS 12641.b.30.
216         London; Virtue & Yorston  ...    British Library HMNTS 12626.cc.2.
218                           London  ...    British Library HMNTS 12625.dd.1.
472                           London  ...  British Library HMNTS 10369.bbb.15.
480                           London  ...     British Library HMNTS 9007.d.28.

[5 rows x 9 columns]

In [18]:
#new dataframe with a new index set as Identifier column
book_reindexed_df =  new_book_df.set_index('Identifier')

In [19]:
book_reindexed_df.head()

                Place of Publication  ...                           Shelfmarks
Identifier                            ...
206                           London  ...    British Library HMNTS 12641.b.30.
216         London; Virtue & Yorston  ...    British Library HMNTS 12626.cc.2.
218                           London  ...    British Library HMNTS 12625.dd.1.
472                           London  ...  British Library HMNTS 10369.bbb.15.
480                           London  ...     British Library HMNTS 9007.d.28.

[5 rows x 9 columns]

In [13]:
type(book_reindexed_df)

pandas.core.frame.DataFrame

Frame Research Questions

In [ ]:
#year YYYY - 2020, 1979, 1923
#month MM - 09, 12, 03
#day DD  - 11, 22, 31

In [20]:
#this statement will pull out four digits that are in a row 
regex_val = r'^(\d{4})'

In [21]:
regex_val

'^(\\d{4})'

In [22]:
book_reindexed_df['Date of Publication'].str.isnumeric()

Identifier
206        False
216         True
218         True
472         True
480         True
           ...
4158088     True
4158128    False
4159563    False
4159587     True
4160339    False
Name: Date of Publication, Length: 8287, dtype: object

In [23]:
#viewing some of the rows in question
book_reindexed_df.loc[206]

Place of Publication                                               London
Date of Publication                                           1879 [1878]
Publisher                                                S. Tinsley & Co.
Title                                   Walter Forbes. [A novel.] By A. A
Author                                                              A. A.
Contributors                                              FORBES, Walter.
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                              British Library HMNTS 12641.b.30.
Name: 206, dtype: object

In [24]:
book_reindexed_df.loc[4158128]

Place of Publication                                                Derby
Date of Publication                                              1831, 32
Publisher                                                 M. Mozley & Son
Title                   The History and Gazetteer of the County of Der...
Author                                         GLOVER, Stephen - of Derby
Contributors                                               NOBLE, Thomas.
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks              British Library HMNTS|British Library HMNTS 10...
Name: 4158128, dtype: object

In [25]:
book_reindexed_df.loc[4159563]

Place of Publication                                               London
Date of Publication                                             [1806]-22
Publisher                                         T. Cadell and W. Davies
Title                   Magna Britannia; being a concise topographical...
Author                  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
Contributors                     GREGSON, Matthew.|LYSONS, Samuel - F.R.S
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks              British Library HMNTS|British Library HMNTS 19...
Name: 4159563, dtype: object

Now, let's fix the 'date of publication' value

In [26]:
#extracts values in date of publication column based on our regular expression
book_reindexed_df['Date of Publication'] = book_reindexed_df['Date of Publication'].str.extract(regex_val, expand= False)

In [27]:
#view our new cleaner column
book_reindexed_df['Date of Publication']

Identifier
206        1879
216        1868
218        1869
472        1851
480        1857
           ...
4158088    1838
4158128    1831
4159563     NaN
4159587    1834
4160339    1834
Name: Date of Publication, Length: 8287, dtype: object

In [28]:
book_reindexed_df.head()

                Place of Publication  ...                           Shelfmarks
Identifier                            ...
206                           London  ...    British Library HMNTS 12641.b.30.
216         London; Virtue & Yorston  ...    British Library HMNTS 12626.cc.2.
218                           London  ...    British Library HMNTS 12625.dd.1.
472                           London  ...  British Library HMNTS 10369.bbb.15.
480                           London  ...     British Library HMNTS 9007.d.28.

[5 rows x 9 columns]

In [29]:
#check to see which values are numeric
book_reindexed_df['Date of Publication'].str.isnumeric()

Identifier
206        True
216        True
218        True
472        True
480        True
           ...
4158088    True
4158128    True
4159563     NaN
4159587    True
4160339    True
Name: Date of Publication, Length: 8287, dtype: object

In [30]:
#change column to numeric
book_reindexed_df['Date of Publication'] = pd.to_numeric(book_reindexed_df['Date of Publication'])

In [31]:
#check data type
book_reindexed_df['Date of Publication'].dtype

dtype('float64')

# Property Dataset

In [68]:
property_df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/property.csv')

In [86]:
property_df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS  NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3       1.0  1000
1  100002000.0   197.0   LEXINGTON            N            3       1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN       1.0   850
3  100004000.0   201.0    BERKELEY           12            1       NaN   700
4          NaN   203.0    BERKELEY            Y            3       2.0  1600
5  100006000.0   207.0    BERKELEY            Y          NaN       1.0   800
6  100007000.0     NaN  WASHINGTON          NaN            2       NaN   950
7  100008000.0   213.0     TREMONT            Y            1       1.0   NaN
8  100009000.0   215.0     TREMONT            Y           na       2.0  1800

In [87]:
property_df.shape

(9, 7)

In [88]:
#drops all rows with na values
new_prop_df = property_df.dropna()

In [72]:
new_prop_df

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
8  100009000.0   215.0    TREMONT            Y           na        2  1800

In [73]:
new_prop_df.shape

(3, 7)

In [74]:
#check one column for blanks
property_df['NUM_BATH'].isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
Name: NUM_BATH, dtype: bool

In [89]:
property_df.isnull().sum()

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    1
NUM_BEDROOMS    2
NUM_BATH        2
SQ_FT           1
dtype: int64

In [75]:
#count how many blanks are in that column

property_df['NUM_BATH'].isnull().sum()

1

In [90]:
#create a list of all the possibilities for missing values 
missing_values = ['-','--','na','n/a','NA']

In [91]:
#reload data and transform the missing values to nas
property_na_fix_df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/property.csv', na_values=missing_values)

In [92]:
property_na_fix_df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [79]:
#list the unique values in num_bedrooms column
property_df.NUM_BEDROOMS.unique

<bound method Series.unique of 0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7      1
8     na
Name: NUM_BEDROOMS, dtype: object>

In [80]:
#convert column to numeric datatype, text values will be converted to nan
property_df['NUM_BATH']  = pd.to_numeric(property_df['NUM_BATH'], errors='coerce')

In [81]:
property_df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS  NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3       1.0  1000
1  100002000.0   197.0   LEXINGTON            N            3       1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN       1.0   850
3  100004000.0   201.0    BERKELEY           12            1       NaN   700
4          NaN   203.0    BERKELEY            Y            3       2.0  1600
5  100006000.0   207.0    BERKELEY            Y          NaN       1.0   800
6  100007000.0     NaN  WASHINGTON          NaN            2       NaN   950
7  100008000.0   213.0     TREMONT            Y            1       1.0   NaN
8  100009000.0   215.0     TREMONT            Y           na       2.0  1800

In [116]:
property_na_fix_df['SQ_FT'].dtype

dtype('float64')

In [117]:
#create a new column called datatype
#set it equal to BIG if sq_ft is greater than 1000
#set it equal to SMALL if sq_ft is less than 1000
property_na_fix_df['PROP_TYPE'] = np.where((property_na_fix_df['SQ_FT'] > 1000) ,'BIG', 'SMALL')
property_na_fix_df

           PID  ST_NUM     ST_NAME  ... NUM_BATH   SQ_FT PROP_TYPE
0  100001000.0   104.0      PUTNAM  ...        1  1000.0     SMALL
1  100002000.0   197.0   LEXINGTON  ...      1.5     NaN     SMALL
2  100003000.0     NaN   LEXINGTON  ...        1   850.0     SMALL
3  100004000.0   201.0    BERKELEY  ...      NaN   700.0     SMALL
4          NaN   203.0    BERKELEY  ...        2  1600.0       BIG
5  100006000.0   207.0    BERKELEY  ...        1   800.0     SMALL
6  100007000.0     NaN  WASHINGTON  ...   HURLEY   950.0     SMALL
7  100008000.0   213.0     TREMONT  ...        1     NaN     SMALL
8  100009000.0   215.0     TREMONT  ...        2  1800.0       BIG

[9 rows x 8 columns]

In [118]:
#check our results column
property_na_fix_df['SQ_FT'].isna()

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7     True
8    False
Name: SQ_FT, dtype: bool

In [85]:
property_na_fix_df['PROP_TYPE'] = np.where((property_na_fix_df['SQ_FT'].isna() == False) ,property_na_fix_df['SQ_FT'], 'Unknown')
property_na_fix_df

           PID  ST_NUM     ST_NAME  ... NUM_BATH   SQ_FT PROP_TYPE
0  100001000.0   104.0      PUTNAM  ...        1  1000.0    1000.0
1  100002000.0   197.0   LEXINGTON  ...      1.5     NaN   Unknown
2  100003000.0     NaN   LEXINGTON  ...        1   850.0     850.0
3  100004000.0   201.0    BERKELEY  ...      NaN   700.0     700.0
4          NaN   203.0    BERKELEY  ...        2  1600.0    1600.0
5  100006000.0   207.0    BERKELEY  ...        1   800.0     800.0
6  100007000.0     NaN  WASHINGTON  ...   HURLEY   950.0     950.0
7  100008000.0   213.0     TREMONT  ...        1     NaN   Unknown
8  100009000.0   215.0     TREMONT  ...        2  1800.0    1800.0

[9 rows x 8 columns]

In [101]:
property_df.loc[6, 'ST_NUM'] = 125
property_df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS  NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3       1.0  1000
1  100002000.0   197.0   LEXINGTON            N            3       1.5    --
2  100003000.0   125.0   LEXINGTON            N          NaN       1.0   850
3  100004000.0   201.0    BERKELEY           12            1       NaN   700
4          NaN   203.0    BERKELEY            Y            3       2.0  1600
5  100006000.0   207.0    BERKELEY            Y          NaN       1.0   800
6  100007000.0   125.0  WASHINGTON          NaN            2       NaN   950
7  100008000.0   213.0     TREMONT            Y            1       1.0   NaN
8  100009000.0   215.0     TREMONT            Y           na       2.0  1800

In [99]:
property_df['ST_NUM'].fillna(125, inplace = True)
property_df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS  NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3       1.0  1000
1  100002000.0   197.0   LEXINGTON            N            3       1.5    --
2  100003000.0   125.0   LEXINGTON            N          NaN       1.0   850
3  100004000.0   201.0    BERKELEY           12            1       NaN   700
4          NaN   203.0    BERKELEY            Y            3       2.0  1600
5  100006000.0   207.0    BERKELEY            Y          NaN       1.0   800
6  100007000.0   125.0  WASHINGTON          NaN            2       NaN   950
7  100008000.0   213.0     TREMONT            Y            1       1.0   NaN
8  100009000.0   215.0     TREMONT            Y           na       2.0  1800

In [112]:
median = property_na_fix_df['NUM_BEDROOMS'].median()
median

2.5

In [113]:
median = property_na_fix_df['NUM_BEDROOMS'].fillna(median, inplace = True)

# Your turn

* Spend some time with the dataset and practice some data wrangling techniques. 
* Rename all of the columns
* Practice using some of the techniques to handle missing values

In [115]:
book_df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [119]:
book_df['Author'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
8282    False
8283    False
8284    False
8285    False
8286     True
Name: Author, Length: 8287, dtype: bool

In [120]:
book_df['Author'].isnull().sum()

1778

In [121]:
book_df['Author'].is_unique

False

In [122]:
book_df['Author'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
8282    False
8283    False
8284    False
8285    False
8286     True
Name: Author, Length: 8287, dtype: bool

In [124]:
book_df['Author'].str.isnumeric()

0       False
1       False
2       False
3       False
4       False
        ...
8282    False
8283    False
8284    False
8285    False
8286      NaN
Name: Author, Length: 8287, dtype: object

In [125]:
new_book = book_df

In [126]:
new_book.columns

Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')